#Parent {
  height: auto;
  color: transparent;
}
    
#Left {
  float: left;
  padding: 240px 270px;
  background-color: #DFE1E5;
  display: flex;
  justify-content: center;
  width: 24%;
  height: 300px;
  padding: 0 auto;
}


#Left img {
  width: 80px;
  height: 80px;
}

#text {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-color: #DCE7EF;
}

#text2 {
  width: 100%;
  border-bottom-left-radius: 7px;
  border-color: #DCE7EF;
}

#RememberMe {
  font-size:medium;
  color: rgb(53, 53, 53);
}

#a {
  font-size: small;
  color: rgb(53, 53, 53);
  margin-left: 10px;
}

#c2 {
  font-size: 335%;
  margin: 0%;
}

#Login {
  background-color: rgb(6, 177, 244);
  border-bottom-right-radius: 7px;
  margin-left: 50px;
}

#Right {
  width: 40%;
  height: 780px;
  float: right;
  background-repeat: no-repeat;
  background-image:
    url(./c2-bg.png) 
}