#Parent {
  height: auto;
  color: transparent;
}
    
#Left {
  float: left;
  background-color: rgb(229, 230, 230);
  display: flex;
  justify-content: center;
  width: 60%;
  height: 1000px;
}

#c2 {
  font-size: 335%;
}
   
#Right {
  width: 40%;
  height: 1000px;
  float: right;
  background-repeat: no-repeat;
  background-image:
    url(./c2-bg.png) 
    }
    